@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600|Playball|Comfortaa:300,400,700);

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.content {
  text-align: justify;
  color: #666666;
  padding: 0 50px 0 0;
  span {
    font-weight: 600;
    color: #444444;
  }
}

@media (max-width: 576px) {
  .content {
    padding: 0;
  }
}

.about {
  //height: 100vh;
}

.about_content > * {
  margin: 40px;
}

.about_content_ico {
  div {
    margin-top: 20px;
  }
}

.how_content > * {
  margin: 40px;
}

.team_content {
  margin-top: 60px;

  p {
    margin-bottom: 0rem;
  }
}

.title {
  font-family: 'Comfortaa';
  font-size: 20px;
  color: #222222;
  margin-bottom: 0;
}

.line {
  height: 2px;
  max-width: 120px;
  color: transparent;
  background: linear-gradient(to left, #1e5799, #2ce0bf, #76dd2c, #dba62b, #e02cbf, #1e5799);
  background-size: 1000px 100%;
  animation: bg 15s linear infinite;
}

.divider {
  margin: 40px 0;
  height: 1px;
  color: transparent;
  background: linear-gradient(to left, #1e5799, #2ce0bf, #76dd2c, #dba62b, #e02cbf, #1e5799);
  background-size: 1000px 100%;
  animation: bg 15s linear infinite;
}

@keyframes bg {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 10000px;
  }
}

.about_icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    max-width: 80px;
    max-height: 80px;
  }

  p {
    margin-top: 10px;
    font-size: 16px;
    color: #444;
  }
}

.how_yoga {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.how_icons {
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}