.client_header {
  margin: 40px 40px 0px 40px;
}
.client {
  height: 100%;
  padding: 50px;

  &_item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
      max-width: 200px;
      max-height: 200px;
    }

    p {
      margin: 50px;
    }
  }
}