@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600|Playball|Comfortaa:300,400,700);
section {
  padding: 50px 0 0 0; }

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px; }

#mainNav .navbar-brand {
  color: white;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  letter-spacing: 1px; }

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #4990E2; }

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222; }

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase; }

#mainNav .navbar-nav > li > a.active {
  color: #4990E2 !important;
  background-color: transparent; }

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent; }

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222; }

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #4990E2; }

@media (max-width: 840px) {
  #mainNav .navbar-brand {
    color: black; } }
@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent; }

  #mainNav .navbar-brand {
    color: fade(white, 70%); }

  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white; }

  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7); }

  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white; }

  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); }

  #mainNav.navbar-shrink .navbar-brand {
    color: #222222; }

  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #4990E2; }

  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222; }

  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #4990E2; } }
header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: url("../assets/bg-pattern.png"), #7b4397;
  background: url("../assets/bg-pattern.png"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: url("../assets/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430); }

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center; }

header.masthead .header-content h1 {
  font-size: 30px; }

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto; }

header.masthead .device-container .screen img {
  border-radius: 3px; }

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0; }

  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left; }

  header.masthead .header-content h1 {
    font-size: 50px; }

  header.masthead .device-container {
    max-width: 325px; } }
p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px; }

.content {
  text-align: justify;
  color: #666666;
  padding: 0 50px 0 0; }
  .content span {
    font-weight: 600;
    color: #444444; }

.about_content > * {
  margin-top: 40px; }

.about_content_ico div {
  margin-top: 20px; }

.how_content > * {
  margin-top: 40px; }

.team_content {
  margin-top: 60px; }
  .team_content p {
    margin-bottom: 0rem; }

.title {
  font-family: 'Playball', cursive;
  font-size: 24px;
  color: #555;
  margin-bottom: 0; }

.line {
  height: 2px;
  max-width: 100px;
  color: transparent;
  background: linear-gradient(to left, #1e5799, #2ce0bf, #76dd2c, #dba62b, #e02cbf, #1e5799);
  background-size: 1000px 100%;
  animation: bg 15s linear infinite; }

.divider {
  margin: 40px 0;
  height: 1px;
  color: transparent;
  background: linear-gradient(to left, #1e5799, #2ce0bf, #76dd2c, #dba62b, #e02cbf, #1e5799);
  background-size: 1000px 100%;
  animation: bg 15s linear infinite; }

@keyframes bg {
  0% {
    background-position-x: 0; }
  100% {
    background-position-x: 10000px; } }
.about_icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .about_icons img {
    max-width: 80px;
    max-height: 80px; }
  .about_icons p {
    margin-top: 10px;
    font-size: 16px;
    color: #444; }

.how_yoga {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.how_icons {
  animation: App-logo-spin infinite 20s linear; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*# sourceMappingURL=index.css.map */
